/* style2.css - Responsive boxes (plain CSS, no flex/bootstrap)
   - Adds horizontal gutters via margin
   - Uses calc() to subtract gutters from percentage widths
   - Stacks boxes at screen widths <= 750px
*/

:root{
  --gutter: 10px; /* change this value to adjust gap size */
}

* { box-sizing: border-box; margin: 0; }

div { padding: 2px; }

body, html { height: 100%; padding: 5px; }

/* Main container */
.main-container { 
  width: 100%; 
  margin: 0; 
  box-sizing: border-box; 
  height: 100vh; 
}

/* LEFT SIDEBAR */
.sidebar {
  float: left;
  width: calc(16.66% - 0px);
  margin: 0;
  height: calc(100vh - 0px);
  box-sizing: border-box;
}

.sidebar-box {
  border: 3px solid red;
  padding: 10px;
  height: 100%;
}

/* RIGHT AREA - outer container with border */
.right-area {
  float: left;
  width: calc(83.33% - 0px);
  margin: 0;
  box-sizing: border-box;
  height: calc(100vh - 0px);
  border: 3px solid red;
  padding: 0;
}

/* ROW 1: 4 equal boxes */
.row-1 {
  float: left;
  width: 100%;
  box-sizing: border-box;
  height: 33.33%;
}

.box-4 {
  float: left;
  width: calc(25% - 10px);
  margin: 5px;
  height: 100%;
  border: 3px solid red;
  padding: 10px;
  box-sizing: border-box;
}

/* ROW 2: left (2 stacked) + right (1 tall) */
.row-2 {
  float: left;
  width: 100%;
  box-sizing: border-box;
  height: 33.33%;
  padding: 5px;
}

.left-stack {
  float: left;
  width: calc(50% - 10px);
  margin: 5px;
  box-sizing: border-box;
  height: 100%;
}

.left-stack-box {
  float: left;
  width: 100%;
  border: 3px solid red;
  padding: 10px;
  box-sizing: border-box;
  height: calc(50% - 5px);
  margin-bottom: 5px;
}

.left-stack-box:last-child {
  margin-bottom: 0;
}

.right-tall {
  float: left;
  width: calc(50% - 10px);
  margin: 5px;
  height: 100%;
  border: 3px solid red;
  padding: 10px;
  box-sizing: border-box;
}

/* ROW 3: left (large) + right (1 box) */
.row-3 {
  float: left;
  width: 100%;
  clear: both;
  box-sizing: border-box;
  height: 33.33%;
  padding: 5px;
  padding-bottom: 10px;
}

.left-large {
  float: left;
  width: calc(66.66% - 10px);
  margin: 5px;
  height: 100%;
  border: 3px solid red;
  padding: 10px;
  box-sizing: border-box;
}

.right-box {
  float: left;
  width: calc(33.33% - 10px);
  margin: 5px;
  height: 100%;
  border: 3px solid red;
  padding: 10px;
  box-sizing: border-box;
}

/* Box inner content */
.box-inner {
  height: 100%;
  display: block;
  padding: 12px;
  text-align: center;
}

/* Responsive: stack boxes at <= 750px */
@media screen and (max-width: 750px) {
  .sidebar {
    width: 100% !important;
    height: auto;
    margin-bottom: 0;
  }

  .sidebar-box {
    height: 150px;
  }

  .right-area {
    width: 100% !important;
    height: auto;
  }

  .row-1, .row-2, .row-3 {
    width: 100% !important;
    height: auto;
  }

  .box-4, .left-stack, .right-tall, .left-large, .right-box {
    width: calc(100% - 10px) !important;
    float: none;
    margin: 5px !important;
    height: auto;
  }

  .left-stack-box {
    height: 100px;
    margin-bottom: 5px;
  }

  .box-inner {
    min-height: 80px;
  }
}
