html, body {
    height: 100vh; 
    overflow: hidden; 
    overflow-x: hidden; 
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}


.main-wrapper {
    position: relative; 
    height: 100vh; 
    width: 100%;
    padding: 0; 
    margin: 0;
    box-sizing: border-box; 
}


.box {
    border: 2px solid red; 
    margin-bottom: 10px; 
    background-color: #f8f9fa; 
    padding: 15px; 
    text-align: center;
}


.col-content-area .col, .col-content-area [class*="col-"] {
    padding-left: 5px;
    padding-right: 5px;
}


.box.left-sidebar {
    min-height: 50px; 
    padding: 15px; 
}
.box.small-height {
    min-height: 150px; 
}
.box.medium-height {
    min-height: 320px; 
}
.box.bottom-row-height {
    min-height: 200px; 
}


@media (min-width: 768px) {
    
    
    .col-sidebar {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0; 
        width: 50px; 
        z-index: 10;
        padding: 0 !important; 
    }
    .box.left-sidebar {
        height: 100%; 
        margin-bottom: 0; 
        padding: 0;
    }

    
    .col-content-area {
        margin-left: 55px; 
        width: calc(100% - 55px); 
        
        padding-left: 0 !important; 
        padding-right: 0 !important;

        border: 1px solid red; 
        
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }
    
    .col-content-area .row {
        width: 100%; 
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}
