*{box-sizing:border-box;
margin: 0;}

div {padding: 2px; }

body {
    display: flex;
    height: 100%;
    padding: 5px;
}

html {
    height: 100%;
    padding: 5px;
}

[class*="col-"] {
    border: 3px solid red;  
    padding: 10px; 
}

.col-1 {flex: 0 0 8.33%;}
.col-2 {flex: 0 0 16.66%;}
.col-3 {flex: 0 0 24.5%;}
.col-4 {flex: 0 0 32.33%;}
.col-5 {flex: 0 0 41.66%;}
.col-6 {flex: 0 0 49%;}
.col-7 {flex: 0 0 58.33%;}
.col-8 {flex: 0 0 65.66%;}
.col-9 {flex: 0 0 75%;}
.col-10 {flex: 0 0 83.33%;}
.col-11 {
    flex: 0 0 91.66%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: row;
}
.col-12 {flex: 0 0 99%;}

.height1{height:100%}
.height2{height:31.33%; }
.height3{height:50%}
.height4{height:16.5%}

.small-margin {
    margin: 0.25%;
}

.medium-margin {
    margin: 0.5%;
}

#nosolid{
    border:none; 
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 750px) {

    body {
        flex-direction: column;
    }

    [class*="col-"] {
        flex: 0 0 auto !important;
        width: 100%;
    }

    .col-1 {
        flex: 0 0 auto !important;
    }

    .col-11 {
        flex: 0 0 auto !important;
        flex-direction: column;
        width: 100%;
    }

    #nosolid {
        flex-direction: column;
    }

    .height1 {
        height: auto; 
        min-height: 100px; 
    }

    .height2, .height3, .height4 {
        height: auto;
        min-height: 80px; 
    }
}