*{box-sizing:border-box;
margin: 0;}

div {padding: 2px; }

[class*="col-"] {float: left;border: 3px solid red;  padding: 10px; }

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 24.5%;}
.col-4 {width: 32.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 49%;}
.col-7 {width: 58.33%;}
.col-8 {width: 65.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 99%;}

body,html{height: 100%;padding: 5px;}

.height1{height:100%}
.height2{height:31.33%; }
.height3{height:50%}
.height4{height:16.5%}

.small-margin {
    margin: 0.25%;
}

.medium-margin {
    margin: 0.5%;
}

#nosolid{border:none; padding: 0;}

.clear { clear: both; }

@media screen and (max-width: 750px) and (max-height: 650px) {

    [class*="col-"] {
        width: 100%;
        float: none;    
        display: block; 
        clear: both;
    }

    .height1 {
        height: auto; 
        min-height: 100px; 
    }

    .height2, .height3, .height4 {
        height: auto;
        min-height: 80px; 
    }
}
